<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./view_mobile.css" rel="stylesheet"/>
</head>
<body>
    <div id="itemView_mobile">
        <div id="logo">
            <img src="../img/Shoes_on.png" id="logo"/>
        </div>

        <div id="newItem">
            <p class="itemTitle">최근 상품</p>
            <div class="more">
                <p>더보기...</p>
            </div>
            <div class="item"></div>
        </div>
        <div id="recommendationItem">
            <p class="itemTitle">맞춤 추천</p>
            <div class="more">
                <p>더보기...</p>
            </div>
            <div class="item"></div>
        </div>

        <div id="footer_mobile">
            <div class="footerItem">
                <img src="../img/집_on.png" class="footerItemImg">
                <p>메인</p>
            </div>
            <div class="footerItem">
                <img src="../img/Pants_off.png" class="footerItemImg">                
                <p>상품 등록</p>
            </div>
            <div class="footerItem">
                <img src="../img/돋보기_off.png" class="footerItemImg">
                <p>검색</p>
            </div>
            <div class="footerItem">
                <img src="../img/마이_off.png" class="footerItemImg">
                <p>마이</p>
            </div>
        </div>
        <script src="../footer_mobile.js"></script>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>   
    <script src="./view_mobile.js"></script>
</body>
</html>