<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./view_mobile.css" rel="stylesheet"/>
</head>
<body>
    <div id="itemView_mobile">
        <div id="logo">
            <img src="../img/Shoes_on.png" id="logo"/>
        </div>

        <div id="newItem">
            <p class="itemTitle">최근 상품</p>
            <div class="more">
                <p>더보기...</p>
            </div>
            <div class="item">
                <div class="itemDiv">
                    <img src="" class="newitemImg"/>
                </div>
                <div class="itemDiv">
                    <img src="" class="newitemImg"/>
                </div>
                <div class="itemDiv">
                    <img src="" class="newitemImg"/>
                </div>
            </div>
        </div>
        <div id="recommendationItem">
            <p class="itemTitle">맞춤 추천</p>
            <div class="more">
                <p>더보기...</p>
            </div>
            <div class="item">
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
                <div class="itemDiv">
                    <img src="" class="recommendItemImg">
                </div>
            </div>
        </div>


        <iframe src="../footer_mobile.html"></iframe>
    </div>
</body>
</html>